<div class="container">
  <div style="text-align:center">
    <img
      alt="Zyllem Logo"
      src="https://static.wixstatic.com/media/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.png/v1/fill/w_194,h_80,al_c,q_80,usm_0.66_1.00_0.01/15e42d_92ebfc9a2c37467ba65d2117dc5b9fa4~mv2_d_3850_1775_s_2.webp"
    />
  </div>

  <h2>Articles</h2>
  <h3>List of article goes here:</h3>

  <!-- To put the articles inside this container -->
  <div class="article-container">
    <!-- Feel free to remove this holder -->
    <div class="article-list-holder">
      <h2>Normal</h2>
      <ul>
        <li *ngFor="let item of normal_articles">
          <app-normal-article [article] = "item"></app-normal-article>
        </li>
      </ul>
      <h2>Feature</h2>
      <ul>
        <li *ngFor="let item of feature_articles" class="active">
          <app-featured-article [article] = "item"></app-featured-article>
        </li>
      </ul>
    </div>
  </div><!--.article-container-->

</div>
